:root {
    --primary-red: #a41045;
    --secondary-violet: #892066;
    --tertiary-blue: #18457c;
    --tertiary-pink: #E53996;
    --white: #ffffff;
    --primary-dark: #0A0C10;
    --light-dark: #424345;
    --dark-grey: #7D7E80;
    --pink-grey: #9B8595;
    --grey: #B9B9B9;
    --light-grey: #D8D8D8;
    --blue-grey: #95A1AD;
    --transparent-black: rgba(0, 0, 0, 0.7);
}

.gradient {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 40vw;
}

.hero-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    width: 40vw;
    z-index: 1;
    padding-left: 100px;
}


.hero-text{
    font-size: 6rem;
    font-weight:800;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: -2px;
    word-spacing: 20px;
}

.hero-paragraph{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    word-spacing: 1px;
    color: var(--grey);
}

.gradient-text {
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.38) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-button{
    padding: 10px 20px;
    background-color: var(--primary-red);
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-button a{
    text-decoration: none;
    color: var(--white);
}

.hero-button:hover{
    background-color: var(--secondary-violet);
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    background-color: var(--primary-dark);
    color: var(--text);
}

.blur{
    width: 1500px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #37373747;
}

/* .card{
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--transparent-black);
} */

.image-1 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
}

.card-text{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    z-index: 2;
}
