:root {
    --primary-red: #a41045;
    --secondary-violet: #892066;
    --tertiary-blue: #18457c;
    --tertiary-pink: #E53996;
    --white: #ffffff;
    --primary-dark: #0A0C10;
    --light-dark: #424345;
    --dark-grey: #7D7E80;
    --pink-grey: #9B8595;
    --grey: #B9B9B9;
    --light-grey: #D8D8D8;
    --blue-grey: #95A1AD;
    --transparent-black: rgba(0, 0, 0, 0.7);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.gradient {
    position: absolute;
    top: -300px;
    z-index: 0;
}

.signup-heading{
    z-index: 1;
    font-size: 3rem;
    font-weight: 700;
}

.gradient-text-highlight {
    background: linear-gradient(90deg, var(--primary-red), var(--tertiary-pink));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
}

.signup-container {
    width: 250px;
    height: 250px;
    margin: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--white);
    transition: all 0.1s ease;
    

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: var(--transparent-black);
}

.signup-container:hover {
    border: 5px solid var(--primary-red);
    transform: scale(1.1);
    transform-origin: center;
    will-change: transform;
}

h3{
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.login-text {
    z-index: 1;
}