{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} {% block style
%}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/signup.css')}}"
/>
{% endblock %} {% block body %}
<main>
    <div class="signup-heading">
        <span class="gradient-text">Sign Up As A </span
        ><span class="gradient-text-highlight">Customer</span
        ><span class="gradient-text"> Or A </span
        ><span class="gradient-text-highlight">Proffessional</span>
    </div>
    <img
        src="{{ url_for('static', filename='images/gradient3.png') }}"
        class="gradient"
        alt=""
    />
    <div class="d-flex flex-row">
        <a href="/signup-as-customer">
            <div class="signup-container rounded-4">
                <h3>I'm A Customer</h3>
            </div>
        </a>
        <a href="/signup-as-proffessional">
            <div class="signup-container rounded-4">
                <h3>I'm A Proffessional</h3>
            </div>
        </a>
    </div>
    <div class="text-center login-text">
        Already have an account?<a href="/login" class="fw-bold"> Login</a>
    </div>
</main>
{% endblock %}
