<header>
    <nav class="navbar-blur shadow-sm navbar rounded-3">
        <div class="navbar-left">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="HomeHands Logo" class="logo">
            <span class="logo-text">HomeHands</span>
        </div>
        <div class="navbar-middle">
            <a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/myrequests">My requests</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="navbar-right">
            <a href="/login">Login</a>
            <button class="rounded-3"><a href="/signup">Signup</a></button>
        </div>
    </nav>
</header>
