<header>
    <nav class="navbar-blur shadow-sm navbar rounded-4">
        <div class="navbar-left">
            <a href="/"
                ><img
                    src="{{ url_for('static', filename='images/logo.png') }}"
                    alt="HomeHands Logo"
                    class="navbar-logo"
                />
            </a>
            <a href="/"><span class="logo-text">HomeHands</span></a>
        </div>
        <div class="navbar-middle">
            <a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/my-requests">My requests</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="navbar-right">
            {% if current_user.is_authenticated %}
            <span>Hi {{ current_user.fname.capitalize() }}!</span>
            <div class="dropdown">
                <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="{{ url_for('static', filename='images/users/' + (current_user.profile_picture if current_user.profile_picture else 'default_user.svg')) }}"
                        alt="user-img"
                        class="navbar-user dropdown-toggle"
                        style="width: 20px; height: 20px"
                    />
                </button>
                <div class="dropdown-menu mt-3" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/my-requests">My requests</a>
                    <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <a href="/auth/login">Login</a>
            <button class="rounded-4"><a href="/auth/signup">Signup</a></button>
            {% endif %}
        </div>
    </nav>
</header>
